.img__container {
  width: 60vw;
}

.img__container img {
  width: 700px;
  height: 750px;
  display: block;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.content__container {
  display: flex;
  gap: var(--size-92px);
}

.logo__img {
  width: var(--size-110px);
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

/* form style declarations */
.form__main__container {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  margin-right: var(--size-92px);
  gap: var(--size-48px);
}

.login__text__content {
  display: flex;
  flex-direction: column;
  gap: var(--size-28px);
}

.login__text__content h1 {
  font-size: var(--size-40px);
  font-weight: 600;
  line-height: var(--size-40px);
  text-align: center;
  margin: 0;
  padding: 0;
}

.login__text__content p {
  font-weight: 500;
  font-size: var(--size-20px);
  text-align: center;
}

.input__container {
  display: flex;
  flex-direction: column;
  gap: var(--size-36px);
}