/* import font */

@font-face {
  font-family: 'generalSans';
  src: url(assets/font/generalsans.ttf) format('truetype');
} 

:root{
  /* color */
  --clr-primary: #3655B3;
  --clr-secondary: #FFFF4D;
  --clr-white: #F8F8FF;
  --clr-black: #000029;
  --clr-success: #38FF59;
  --clr-error: #FF3838 ;
  --clr-gray-200: #A0AEC0;

  /* design tokens */
  --primary-text-clr: var(--clr-black);
  --secondary-text-clr: var(--clr-white);
  --text-label-clr: var(--clr-gray-200);
  --bg-clr: var(--clr-white);
  
   /* sizes */
   --size-4px: 0.25rem;
   --size-6px: 0.375rem;
   --size-8px: 0.5rem;
   --size-12px: 0.75rem;
   --size-16px: 1rem;
   --size-20px: 1.25rem;
   --size-24px: 1.5rem;
   --size-28px: 1.75rem;
   --size-32px: 2rem;
   --size-36px: 2.25rem;
   --size-40px: 2.5rem;
   --size-44px: 2.75rem;
   --size-48px: 3rem;
   --size-52px: 3.25rem;
   --size-56px: 3.5rem;
   --size-60px: 3.75rem;
   --size-64px: 4rem;
   --size-68px: 4.25rem;
   --size-72px: 4.5rem;
   --size-76px: 4.75rem;
   --size-80px: 5rem;
   --size-84px: 5.25rem;
   --size-88px: 5.5rem;
   --size-92px: 5.75rem;
   --size-96px: 6rem;
   --size-100px: 6.25rem;
   --size-104px: 6.5rem;
   --size-106px: 6.75rem;
   --size-110px: 7rem;
   --size-114px: 7.25rem;
   --size-118px: 7.5rem;
   --size-124px: 7.75rem;
   --size-128px: 8rem;
   --size-132px: 8.25rem;
   --size-136px: 8.5rem;
   --size-140px: 8.75rem;
   --size-144px: 9rem;
   --size-148px: 9.25rem;
   --size-152px: 9.5rem;
   --size-156px: 9.75rem;
   --size-160px: 10rem;
}     

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
  cursor: none;
}

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

image,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  display: inline-block;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'generalsans', sans-serif;
  font-weight: 700;
}

p, a {
  font-family: 'generalsans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}