.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--size-60px);
  padding-right: var(--size-60px);
}

.section__margin {
  margin-top: var(--size-124px);
}

.hero__section__margin {
  padding-left: var(--size-160px);
  padding-right: var(--size-96px);
}

.margin__input {
  padding-left: var(--size-160px);
  padding-right: var(--size-96px);
  margin-top: var(--size-100px);
}

.primary__btn__solid {
  background-color: var(--clr-secondary);
  padding: var(--size-16px) var(--size-56px);
  font-weight: 500;
  border-radius: var(--size-8px);
  align-self: flex-start;
}

.primary__btn__solid2 {
  background-color: var(--clr-primary);
  padding: var(--size-16px) var(--size-56px);
  font-weight: 500;
  border-radius: var(--size-6px);
  color: var(--secondary-text-clr);
  margin-top: var(--size-28px);
}

/* input style declaration */
.input {
  min-width: 384px;
  height: var(--size-48px);
  margin: 8px 0 0;
  padding: 0 var(--size-16px);
  border: solid 1px #e2e8f0;
  border-radius: var(--size-6px);
  outline: none;
}

.label {
  display: block;
  font-size: .9rem;
  font-weight: bold;
  color: var(--primary-text-clr);
}
