.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--size-60px);
  padding-right: var(--size-60px);
}

.secondary_bg_txt {
  color: var(--primary-text-clr);
}

.section__margin {
  margin-top: var(--size-124px);
}

.hero__section__margin {
  padding-left: var(--size-160px);
  padding-right: var(--size-96px);
}

.margin__input {
  padding-left: var(--size-160px);
  padding-right: var(--size-96px);
  margin-top: var(--size-100px);
}

.primary__btn__solid {
  background-color: var(--clr-secondary);
  padding: var(--size-16px) var(--size-56px);
  font-weight: 500;
  border-radius: var(--size-8px);
  align-self: flex-start;
}

.primary__btn__solid2 {
  background-color: var(--clr-primary);
  padding: var(--size-16px) var(--size-56px);
  font-weight: 500;
  border-radius: var(--size-6px);
  color: var(--secondary-text-clr);
  margin-top: var(--size-28px);
}

/* input style declaration */
.input {
  min-width: 384px;
  height: var(--size-48px);
  margin: 8px 0 0;
  padding: 0 var(--size-16px);
  border: solid 1px #e2e8f0;
  border-radius: var(--size-6px);
  outline: none;
}

.label {
  display: block;
  font-size: .9rem;
  font-weight: bold;
  color: var(--primary-text-clr);
}

.error-msg{
  color: red;
}

.closeWindow {
  display: none;
}

/* style for modal windows */
.card h1 {
  padding: 0;
  margin: 0;
  font-size: var(--size-24px);
  width: 350px;
}

.card .img_container img {
  width: var(--size-48px);
}

.card p {
  line-height: var(--size-20px);
}

.dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 7px;
}
